# This file is used by Docker to define which files to ignore.
# Since dist/ is in .gitignore, docker builds using some tools would default to ignoring it.
# This file overrides that behavior to ensure dist/ is uploaded, while ignoring large, unnecessary directories.

.dockerignore
.git
.gitignore
.github/
node_modules/
android/
!dist/
